body {
  font-family: 'Courier New', monospace;
  font-size: 14px;
  background: #eee;
}

.container {
  margin: 20px auto;
  width: 50%; max-width: 500px;
  background: #fff;
  padding: 15px;
  text-align: center;
}

#message {
  font-weight: bold;
}

.btns {
  display: flex;
  justify-content: space-between;
}

.btn{
  width: 30%;
  height: 45px;
  line-height: 45px;
  background: #ddd;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

#result {
  margin: 15px 0 15px;
}

.hide {
  margin: 20px auto;
  width: 50%; max-width: 500px;
  background: #fff;
  padding: 15px;
  text-align: center;
}


.inactive {
  opacity: 0.6;
}

#timer {
  background: #ddd;
  height: 120px;
  line-height: 120px;
  font-size: 40px;
  margin: 15px 0 15px;
}

#footerbar {
	width:100%; height:100px; 	/*メインメニュー部分の幅と高さ*/
	margin:0;
	padding: 0;
	list-style-type: none;
	background-color: #ddd;
}

#footerbar p{
	display:block;			/*リンク部分をブロック表示にする*/
	padding: 30px 30px;	/*上パディング*/
	text-align:center;		/*テキストをセンター揃えにする*/
	text-decoration:none;		/*リンク部分を下線無しにする*/
	font-size: 15px;
}

#footerbar a{
  color:inherit;
  text-decoration:none;
}

/* ウィンドウ幅が0〜479pxの場合に適用するCSS */
@media screen and ( max-width:479px )
{

.container {
  margin: 20px auto;
  width: 90%;
  background: #fff;
  padding: 15px;
  text-align: center;
}

.btns {
  display: flex;
  justify-content: space-between;
}

.btn{
  width: 30%;
  height: 45px;
  line-height: 45px;
  background: #ddd;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

#result {
  margin: 15px 0 15px;
}

#timer {
  background: #ddd;
  height: 120px;
  line-height: 120px;
  font-size: 40px;
  margin: 15px 0 15px;
}
}
